.background-layer {
  position: fixed;
  inset: 0;
  z-index: 0;
  pointer-events: none;
}

.tsparticles-canvas-el {
  display: none;
  position: absolute;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .tsparticles-canvas-el {
    display: block;
  }
}
